<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option value="{$key}" {in name="key" value="UrlTemplateImageryProvider" }selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Classconfig')}:</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist" data-name="row[classConfig]">
                <dd>
                    <ins>{:__('Array key')}</ins>
                    <ins>{:__('Array value')}</ins>
                </dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i>
                    {:__('Append')}</a></dd>
                <textarea id="c-classConfig" name="row[classConfig]" class="form-control hide" cols="30" rows="5"></textarea>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">详见API文档:</label>
        <div class="col-xs-12 col-sm-8">
            <a class="aline-target" href="https://cesium.com/learn/cesiumjs/ref-doc/ImageryProvider.html" target="_blank">
                https://cesium.com/learn/cesiumjs/ref-doc/ImageryProvider.html
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Interfaceconfig')}:</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist" data-name="row[interfaceConfig]">
                <dd>
                    <ins>{:__('Array key')}</ins>
                    <ins>{:__('Array value')}</ins>
                </dd>
                <dd>
                    <a href="javascript:;" class="btn btn-sm btn-success btn-append">
                        <i class="fa fa-plus"></i>
                    {:__('Append')}</a>
                </dd>
                <textarea id="c-interfaceConfig" name="row[interfaceConfig]" class="form-control hide" cols="30" rows="5">
                    {"saturation":"1.0","brightness":"1.0","contrast":"1.0","hue":"0.0","gamma":"1.0"}
                </textarea>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">详见API文档:</label>
        <div class="col-xs-12 col-sm-8">
            <a class="aline-target" href="https://cesium.com/learn/cesiumjs/ref-doc/ImageryLayer.html" target="_blank">
                https://cesium.com/learn/cesiumjs/ref-doc/ImageryLayer.html
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Offset')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-offset" data-rule="required" class="form-control" name="row[offset]" type="text" value="0,0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Invertswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c-invertswitch" name="row[invertswitch]" type="hidden" value="0">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-invertswitch" data-yes="1" data-no="0" >
                <i id="c-invertswitch-ai" class="fa fa-toggle-on text-success {eq name="0" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('FilterRGB')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-filterRGB" style="width: 3em;" class="form-control" name="row[filterRGB]" type="color" value="#ffffff">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Showswitch')}:</label>
        <div class="col-xs-12 col-sm-8">

            <input  id="c-showswitch" name="row[showswitch]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-showswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success  fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">可视化设置预览:</label>
        <div class="col-xs-6 col-sm-4">
            <button type="button" id="Vdata_bt" class="col-sm-3 btn btn-info btn-embossed">编辑</button>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<style>
    @media (min-width: 768px) {
        .form-inline .form-control {
            width: 316px;
        }
    }
    .aline-target{
        line-height: 30px;
    }
</style>